$primary-color: #00aeef;
$secondary-color: #4d7df0;
$white-color: #ffffff;
$black-color: #000000;

body {
  font-family: "Chivo", sans-serif;
}

#navbar {
  .nav-link {
    color: $black-color;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
      color: $secondary-color;
    }
  }
}

#fourth-section {
  .btn{
    color: black;
  }
}

#services{
    .text-icon-grid{
        .text-icon-squared { 
                    .icon-big{
            transform: scale(0.9);
            transition: all 0.5s ease;
            .icon-manager, .icon-technology, .icon-talk, .icon-hand-shake, .icon-signs, .icon-stethoscope{
                padding: 20px;
                font-size: 30px;
                background-color: $white-color;
               color: $secondary-color;
               border-radius: 50%;
               margin: 15px 5px;
           }
           &:hover {
               transform: scale(1);
               transition: all 0.5s ease;
           }
            }

        }
    }
   
    }
